[user]
	name = courtneypattison
	email = courtneyp@ttison.ca
[push]
	default = simple
[merge]
	tool = vimdiff
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/courtneypattison/.gitignore_global
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
