# Ignore case
set completion-ignore-case on

# When hitting up/down, cycle through the previous commands which start with the 
# prefix entered, rather than cycling through the last entered commands
"\e[A": history-search-backward
"\e[B": history-search-forward

# On menu-complete, first display the common prefix, then cycle through the 
# options when hitting TAB
set menu-complete-display-prefix on

# Pressing tab will list all completions & select the first one. Pressing it 
# again will cycle through available completions
TAB: menu-complete
